 @import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.DisplayQuestion {
  max-width: 1200px;
  background-color: #858585;
  margin: 30px auto;
  border-radius: 24px;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border: 5px solid black;
  flex-wrap: wrap;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.DisplayQuestion::-webkit-scrollbar {
  display: none;
}

.question-search {
  width: 320px;
  height: 50px;
  background-color: #39a182;
  border-radius: 18px;
  border: 2px solid #000000;
  display: flex;
  margin-bottom: 30px;
}
.question-search input {
  width: 80%;
  outline: none;
  border: none;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  background-color: #39a182;
  padding: 10px;
  font-size: 20px;
  color: white;
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
}

.question-search input::placeholder {
  color: white;
}

.question-search button {
  width: 20%;
  outline: none;
  border: none;
  border-left: 1px solid black;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  background-color: #39a182;
  text-align: center;
}

.question-search button:hover {
  box-shadow: inset 0px 0px 10px #2a6a56;
}

.question-list {
  width: 320px;
  height: 250px;
  background: #39a182;
  border: 2px solid #000000;
  border-radius: 4px;
  overflow: scroll;
}

.question-list::-webkit-scrollbar {
  display: none;
}

.question-list ul {
  width: 100%;
}

.question-list li {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  text-decoration: none;
  color: white;
  list-style-type: none;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid white;
  cursor: pointer;
  transition: 0.2s;
}

.question-list li:hover {
  color: #000000;
}

.question-window {
  width: 420px;
  min-height: 160px;
  padding: 30px;
  color: black;
  font-family: 'Bangers', cursive;
  border: 3px solid black;
  border-radius: 24px;
  background: #39a182;
  letter-spacing: 1px;
  margin-bottom: 60px;
}

.button-container {
  background-color: #000000;
  width: 260px;
  height: 65px;
  text-align: center;
  transform: skewX(-45deg);
  cursor: pointer;
  margin: 10px auto;
}

.button-text {
  width: 100%;
  height: 100%;
  font-family: 'Bangers', cursive;
  font-size: 30px;
  letter-spacing: 1px;
  color: rgb(182, 149, 50);
  text-align: center;
  padding-top: 15px;
  padding-right: 5px;
  transform: skewX(45deg);
}

.button-text:hover {
  color: white;
}

.button-container:hover {
  box-shadow: inset 0px 0px 10px red;
}

.left-side-container {
  margin-right: 30px;
}

@media (max-width: 1250px) {
  .question-window {
    width: 320px;
    min-height: 160px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .DisplayQuestion {
    margin-top: 0px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // flex-direction: column;
  }

  .question-search {
    width: 320px;
    height: 50px;

    display: flex;
    margin-bottom: 10px;
  }
}

@media (max-width: 660px) {
  .question-window {
    width: 100%;
    min-height: 160px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .right-side-container {
    width: 100%;
  }
  .left-side-container {
    width: 100%;
    margin: 0px;
  }

  .DisplayQuestion {

    // max-width: 1040px;
    // max-width: calc(100% - 100px);

    // min-height: 650px;

    margin: 60px auto;

    border-radius: 24px;
    // padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: 5px solid black;
    flex-wrap: wrap;
    overflow: scroll;
  }

  .question-search {
    width: 100%;
    height: 50px;
    background-color: #39a182;
    border-radius: 18px;
    border: 2px solid #000000;
    display: flex;
    margin-bottom: 10px;
  }

  .button-container {
    background-color: #000000;
    width: 100%;
    height: 65px;
    text-align: center;
    transform: skewX(-45deg);
    cursor: pointer;
    margin: 10px auto;
  }

  .question-list {
    width: 100%;
    height: 250px;
    background: #39a182;
    border: 2px solid #000000;
    border-radius: 4px;
    overflow: scroll;
  }
}
