.container{
    border: 4px solid black;
    border-radius: 50px;
    width: 80vw;
    height: 90vh;
<<<<<<< HEAD
    padding: 30px;
=======
    background-color: white;
>>>>>>> 9d33d1924ddc46c4f135517694601252c49cb28b
}