.cover {
  background: #d9d9d9;
  border: 1px solid #000000;
  border-radius: 40px;
  width: calc(100% - 50px);
  height: 70%;
  font-family: 'Gabriela';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #000000;
  padding: 30px;
  margin-right: 50px;
  margin-bottom: 30px;
  overflow: auto;
  word-break: break-all;
}

.cover::-webkit-scrollbar {
  scroll-snap-type: none;
}

.url {
  color: blue;
}

p {
  text-indent: none;
  margin: 0;
}
input{
  width: 100%;
  height: auto;
  background-color: rgba(250, 235, 215, 0);
  border: none;
  outline: none;
}



@media screen and (max-width: 850px) {
  .cover{
    // margin-right: 0px;
    margin: 10px auto;
    width: 80%;
  }
}
